<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Resource Management</title>
</head>
<body>
<div>
    <p style="font-size:25px">Hello Admin!</p>
    <p style="font-size:25px">Welcome.</p>
    <p style="font-size:25px">Please click on the below button to check the available pool action.</p>
    <a th:href="@{/availablePools}">
        <button class="button">Available Pools</button>
    </a>
</div>

</body>
</body>
</html>