<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Details</title>
</head>
<body>
<div class="container">
    <h1>Add New Details</h1>
    <hr>
    <h2>Save</h2>

    <form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
          method="POST">
        <input type="text" th:field="*{id}"
               placeholder="Employee ID">
        <input type="text" th:field="*{Name}"
               placeholder="Name">
        <input type="text" th:field="*{RM}"
               placeholder="RM">
        <input type="text" th:field="*{BAND}"
               placeholder="Band">
        <input type="text" th:field="*{DOJ}"
               placeholder="DOJ">
        <input type="text" th:field="*{Skill_Set}"
               placeholder="SkillSet">
        <input type="text" th:field="*{Sub_Set}"
               placeholder="SubSet">
        <input type="text" th:field="*{RAS_Allocation}"
               placeholder="RAS Allocation">
        <input type="text" th:field="*{Remarks}"
               placeholder="Remarks">
        <button type="submit"> Save</button>
    </form>

    <a th:href="@{/availablePools}"> Back to Available Pool</a>
</div>
</body>
</html>
